Service References/UbicacionGeograficaServicio_T/UbicacionGeograficaServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.UbicacionGeografica.Contrato" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.UbicacionGeografica.Contrato" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UbicacionGeografica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPadre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipo" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacionGeografica" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioModificacion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioRegistro" type="xs:int" />
      <xs:element minOccurs="0" name="Latitud" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitud" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Padre" nillable="true" type="tns:UbicacionGeografica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbicacionGeografica" nillable="true" type="tns:UbicacionGeografica" />
  <xs:complexType name="ArrayOfUbicacionGeografica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UbicacionGeografica" nillable="true" type="tns:UbicacionGeografica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbicacionGeografica" nillable="true" type="tns:ArrayOfUbicacionGeografica" />
</xs:schema>