Service References/SeguridadServicio_T/SeguridadServicio4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Base.ReglasNegocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Base.ReglasNegocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://serviciosweb.ine.gob.ni/SeguridadServicio/SeguridadServicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ResultadoOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Infracciones" nillable="true" type="tns:ArrayOfInfraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOperacion" nillable="true" type="tns:ResultadoOperacion" />
  <xs:complexType name="ArrayOfInfraccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Infraccion" nillable="true" type="tns:Infraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfraccion" nillable="true" type="tns:ArrayOfInfraccion" />
  <xs:complexType name="Infraccion">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Campos" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Infraccion" nillable="true" type="tns:Infraccion" />
</xs:schema>