Service References/ProductoServicio_T/ProductoServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductoServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://serviciosweb.ine.gob.ni/ProductoServicio/ProductoServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://serviciosweb.ine.gob.ni/ProductoServicio/ProductoServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://serviciosweb.ine.gob.ni/ProductoServicio/ProductoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Producto.Contrato" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductoContrato_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IProductoContrato_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoContrato_ObtenerListadoPorAgenteEconomico_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPorAgenteEconomico" />
  </wsdl:message>
  <wsdl:message name="IProductoContrato_ObtenerListadoPorAgenteEconomico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPorAgenteEconomicoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoContrato_ObtenerListadoPorAgenteEconomicoActivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPorAgenteEconomicoActivo" />
  </wsdl:message>
  <wsdl:message name="IProductoContrato_ObtenerListadoPorAgenteEconomicoActivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPorAgenteEconomicoActivoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoContrato_ObtenerListadoPorAgenteEconomicoInactivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPorAgenteEconomicoInactivo" />
  </wsdl:message>
  <wsdl:message name="IProductoContrato_ObtenerListadoPorAgenteEconomicoInactivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPorAgenteEconomicoInactivoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductoContrato">
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoContrato/Obtener" message="tns:IProductoContrato_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoContrato/ObtenerResponse" message="tns:IProductoContrato_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoPorAgenteEconomico">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoContrato/ObtenerListadoPorAgenteEconomico" message="tns:IProductoContrato_ObtenerListadoPorAgenteEconomico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoContrato/ObtenerListadoPorAgenteEconomicoResponse" message="tns:IProductoContrato_ObtenerListadoPorAgenteEconomico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoPorAgenteEconomicoActivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoContrato/ObtenerListadoPorAgenteEconomicoActivo" message="tns:IProductoContrato_ObtenerListadoPorAgenteEconomicoActivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoContrato/ObtenerListadoPorAgenteEconomicoActivoResponse" message="tns:IProductoContrato_ObtenerListadoPorAgenteEconomicoActivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoPorAgenteEconomicoInactivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoContrato/ObtenerListadoPorAgenteEconomicoInactivo" message="tns:IProductoContrato_ObtenerListadoPorAgenteEconomicoInactivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoContrato/ObtenerListadoPorAgenteEconomicoInactivoResponse" message="tns:IProductoContrato_ObtenerListadoPorAgenteEconomicoInactivo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductoContrato" type="tns:IProductoContrato">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IProductoContrato/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoPorAgenteEconomico">
      <soap:operation soapAction="http://tempuri.org/IProductoContrato/ObtenerListadoPorAgenteEconomico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoPorAgenteEconomicoActivo">
      <soap:operation soapAction="http://tempuri.org/IProductoContrato/ObtenerListadoPorAgenteEconomicoActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoPorAgenteEconomicoInactivo">
      <soap:operation soapAction="http://tempuri.org/IProductoContrato/ObtenerListadoPorAgenteEconomicoInactivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductoServicio">
    <wsdl:port name="BasicHttpBinding_IProductoContrato" binding="tns:BasicHttpBinding_IProductoContrato">
      <soap:address location="http://serviciosweb.ine.gob.ni/ProductoServicio/ProductoServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>