Service References/ProductoServicio_T/ProductoServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://serviciosweb.ine.gob.ni/ProductoServicio/ProductoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Producto.Contrato" />
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Producto.Contrato" minOccurs="0" name="ObtenerResult" nillable="true" type="q1:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorAgenteEconomico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgenteEconomico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorAgenteEconomicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Producto.Contrato" minOccurs="0" name="ObtenerListadoPorAgenteEconomicoResult" nillable="true" type="q2:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorAgenteEconomicoActivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgenteEconomico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorAgenteEconomicoActivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Producto.Contrato" minOccurs="0" name="ObtenerListadoPorAgenteEconomicoActivoResult" nillable="true" type="q3:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorAgenteEconomicoInactivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgenteEconomico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorAgenteEconomicoInactivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Producto.Contrato" minOccurs="0" name="ObtenerListadoPorAgenteEconomicoInactivoResult" nillable="true" type="q4:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>