Service References/CapacidadAlmacenamientoServicio_T/CapacidadAlmacenamientoServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://serviciosweb.ine.gob.ni/CapacidadAlmacenamientoServicio/CapacidadAlmacenamientoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.CapacidadAlmacenamiento.Contrato" />
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCapacidadAlmacenamiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.CapacidadAlmacenamiento.Contrato" minOccurs="0" name="ObtenerResult" nillable="true" type="q1:CapacidadAlmacenamiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorAgenteEconomico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgenteEconomico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorAgenteEconomicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.CapacidadAlmacenamiento.Contrato" minOccurs="0" name="ObtenerListadoPorAgenteEconomicoResult" nillable="true" type="q2:ArrayOfCapacidadAlmacenamiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>