Service References/InventarioServicio_T/InventarioServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://serviciosweb.ine.gob.ni/InventarioServicio/InventarioServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Inventario.Contrato" />
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInventario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Inventario.Contrato" minOccurs="0" name="ObtenerResult" nillable="true" type="q1:Inventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgenteEconomicoAgenteTipo" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="incluirFechasSinRegistro" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Inventario.Contrato" minOccurs="0" name="ObtenerListadoPorFechaResult" nillable="true" type="q2:ArrayOfInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorFechaActivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgenteEconomicoAgenteTipo" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="incluirFechasSinRegistro" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorFechaActivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Inventario.Contrato" minOccurs="0" name="ObtenerListadoPorFechaActivoResult" nillable="true" type="q3:ArrayOfInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorFechaInactivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgenteEconomicoAgenteTipo" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="incluirFechasSinRegistro" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorFechaInactivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Inventario.Contrato" minOccurs="0" name="ObtenerListadoPorFechaInactivoResult" nillable="true" type="q4:ArrayOfInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Inventario.Contrato" minOccurs="0" name="inventario" nillable="true" type="q5:Inventario" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarAlta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInventario" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarAltaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DarAltaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInventario" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DarBajaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/INE.ServiciosWeb.Inventario.Contrato" minOccurs="0" name="inventario" nillable="true" type="q6:Inventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarInventarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>